In [ ]:
#hello world program
print("Hello, World!")

Hello, World!

In [ ]:
#simple arithmetic operations program
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
sum = num1 + num2
print("Sum:", sum)
diff = num1 - num2
print("Difference:", diff)
prod = num1 * num2
print("Product:", prod)
div = num1 / num2
print("Division:", div)

Enter first number: 21
Enter second number: 3
Sum: 24.0
Difference: 18.0
Product: 63.0
Division: 7.0

In [ ]:
#Leap Year
year = int(input("Enter a year: "))

if year % 4 == 0:
    if year % 100 == 0:
        if year % 400 == 0:
            print(year, "is a leap year")
        else:
            print(year, "is not a leap year")
    else:
        print(year, "is a leap year")
else:
    print(year, "is not a leap year")

Enter a year: 2024
2024 is a leap year

In [ ]:
#simple calculator

number1 = float(input('Enter first number: '))
op = input('Enter operator (+,-,*,/,^): ')
number2 = float(input('Enter second number: '))
print(number1, op, number2)

# Check if the divisor is zero for division operation
if op == '/' and number2 == 0:
    print("Error: Cannot divide by zero")
else:
    result = calculate(number1, number2, op)
    print('=', result)


def calculate(n1, n2, op):
    if op == '+':
        return n1 + n2
    elif op == '-':
        return n1 - n2
    elif op == '*':
        return n1 * n2
    elif op == '/':
        return n1 / n2
    elif op == '^':
        return n1 ** n2

Enter first number: 21
Enter operator (+,-,*,/,^): /
Enter second number: 0
21.0 / 0.0
Error: Cannot divide by zero

In [ ]:
#Continue Calculation
def calculate(n1,n2,op):
    if op == '+':
        result = n1+n2
    elif op == '-':
        result = n1-n2
    elif op == '*':
        result =  n1*n2
    elif op == '/':
        result = n1/n2
    elif op=='^':
        result =  n1**n2
    else:
        raise ValueError('Invalid operator')

    if result.is_integer():
        result = int(result)

    return result

continue_calculating = True
while continue_calculating is True:
    number1 = float(input('Enter first number: '))
    op = input('Enter operator (+,-,*,/,^): ')
    number2 = float(input('Enter second number: '))
    print(number1,op,number2)
    result=calculate(number1,number2,op)
    print('=',result)
    yes_or_no = input('Continue? (y/n): ')
    if yes_or_no == 'n':
        continue_calculating = False

Enter first number: 8
Enter operator (+,-,*,/,^): /
Enter second number: 8
8.0 / 8.0
= 1
Continue? (y/n): n

In [ ]:
#Factorial of a Number
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)

num = int(input("Enter a number: "))
print("Factorial:", factorial(num))

Enter a number: 5
Factorial: 120

In [ ]:
#Fibonacci series
def fibonacci(n):
    if n <= 1:
        return n
    else:
        return fibonacci(n-1) + fibonacci(n-2)

terms = int(input("Enter number of terms: "))
print("Fibonacci Series:")
for i in range(terms):
    print(fibonacci(i), end=" ")

Enter number of terms: 15
Fibonacci Series:
0 1 1 2 3 5 8 13 21 34 55 89 144 233 377

In [ ]:
#Check for a Prime Number
def is_prime(n):
    if n <= 1:
        return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True

num = int(input("Enter a number: "))
if is_prime(num):
    print("Prime")
else:
    print("Not Prime")

Enter a number: 90
Not Prime

In [ ]:
#Reverse a String
string = input("Enter a string: ")
reversed_string = string[::-1]
print("Reversed string:", reversed_string)

Enter a string: malayalam
Reversed string: malayalam

In [ ]:
#Check for a palindrome
string = input("Enter a string: ")
if string == string[::-1]:
    print("Palindrome")
else:
    print("Not Palindrome")

Enter a string: postsop
Palindrome

In [ ]:
#Simple Interest Calculator
principal = float(input("Enter principal amount: "))
rate = float(input("Enter annual interest rate (%): "))
time = float(input("Enter time period (years): "))
simple_interest = (principal * rate * time) / 100
print("Simple Interest:", simple_interest)

Enter principal amount: 12000
Enter annual interest rate (%): 8
Enter time period (years): 5
Simple Interest: 4800.0

In [ ]:
#Temperature Converter`
def celsius_to_fahrenheit(celsius):
    return (celsius * 9/5) + 32

def fahrenheit_to_celsius(fahrenheit):
    return (fahrenheit - 32) * 5/9

choice = input("Enter C to convert Celsius to Fahrenheit, F to convert Fahrenheit to Celsius: ").upper()
if choice == 'C':
    celsius = float(input("Enter temperature in Celsius: "))
    print("Temperature in Fahrenheit:", celsius_to_fahrenheit(celsius))
elif choice == 'F':
    fahrenheit = float(input("Enter temperature in Fahrenheit: "))
    print("Temperature in Celsius:", fahrenheit_to_celsius(fahrenheit))
else:
    print("Invalid choice")

Enter C to convert Celsius to Fahrenheit, F to convert Fahrenheit to Celsius: f
Enter temperature in Fahrenheit: 32
Temperature in Celsius: 0.0